<h2>Add a New Book</h2>

<form method="POST" action ="/books">
  <label>Who are you?</label>
  <select name="user_id">
    <% @users.each do |user| %>
        
    <option value="<%= user.id%>"><%= user.first_name %> <%= user.last_name %> </option>

    <%end%>
  </select>

  <br>  <br>

  <label> Title:</label>
  <input type="text" name="title">
  <br>  <br>

  <label> Author:</label>
  <input type="text" name="author">
  <br>  <br>

  <label> Genre:</label>
  <input type="text" name="genre">
  <br>  <br>
  <input type="submit" value="submit">
</form>


  <%# <br>
  <p>Select an existing pet or create a new one below.</p>

  <h3>Existing Pets</h3>
  <% @pets.each do |pet| %>
    <%# <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id" value="<%= pet.id"><%= pet.name %>
  <%# <% end %>
  <%# <br>

  <h3>New Pet</h3>
  <label>Pet Name: </label>
  <br>
  <input type="text" name="pet[name]" id="pet_name"><input>
  <br><br>  %>