<h2><%= @book.title%></h2>
<h3>Author: <%= @book.author%></h3>
<h3>Genre: <%= @book.genre%></h3>
<br><br>
<a href="/books/<%= @book.id%>/edit"><input type="button" name="edit" value="Edit"></a>
<br>
<form method = "POST" action="/books/<%= @book.id%>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
